.col-3 .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-1 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-center {
    font-size: larger
}

.movie-row {
    background-color: #EBE1DF;
}

.card-text {
    font-family: 'Andika', sans-serif;
    color: white;
}

.play-row {
    background-color: #FDF5EA;
}

.text-bg-info {
    font-size: larger;
}