<div class="container-fluid">
    <div class="row">


        <div class="container text-center">
            <p class="badge text-bg-info">Movies</p>

        </div>

        <div class="card-body">
            <div class="container-fluid">
                <div class="row responsive-movie-row">
                    <div class="col-6" *ngFor="let movie of moviesList">
                        <div class="card movie-card">
                            <img src="{{movie.movie_poster}}" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text show-title">{{movie.movie_name}}</p>
                                <p class="card-text show-info">Genre: {{movie.movie_genre}}<br>Language: {{movie.movie_language}}</p>

                                <button class="btn btn-success" (click)="selectMovie(movie)">Book Now</button>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="row movie-row">
                    <div class="col-3" *ngFor="let movie of moviesList">

                        <div class="card movie-card">
                            <img src="{{movie.movie_poster}}" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text show-title">{{movie.movie_name}}</p>
                                <p class="card-text show-info">Genre: {{movie.movie_genre}}<br>Language: {{movie.movie_language}}</p>

                                <button class="btn btn-success" (click)="selectMovie(movie)">Book Now</button>
                            </div>


                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="row">


        <div class="container text-center">
            <h1 class="badge text-bg-info">Plays</h1>

        </div>

        <div class="card-body">
            <div class="container-fluid">
                <div class="row responsive-play-row">
                    <div class="col-6" *ngFor="let play of playsList">
                        <div class="card movie-card">
                            <img src="{{play.play_poster}}" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text show-title">{{play.play_name}}</p>
                                <p class="card-text show-info">Genre: {{play.play_genre}}<br>Language: {{play.play_language}}</p>

                                <button class="btn btn-success" (click)="selectPlay(play)">Book Now</button>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="row play-row">
                    <div class="col-3" *ngFor="let play of playsList">

                        <div class="card">
                            <img src="{{play.play_poster}}" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text show-title">{{play.play_name}}</p>
                                <p class="card-text show-info">Genre: {{play.play_genre}}<br>Language: {{play.play_language}}</p>

                                <button class="btn btn-success" (click)="selectPlay(play)">Book Now</button>
                            </div>

                        </div>


                    </div>

                </div>

            </div>
        </div>

    </div>
</div>