@import "../../../../styles/variables.scss";
.col-3 .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.text-center {
    font-size: larger
}

.movie-row {
    background-color: $movie-row;
}

.card {
    width: 18rem;
    margin: 35px;
    background-color: $show-card-background;
}

.card-text {
    color: $show-card-text;
}

.play-row {
    background-color: $play-row;
}

.text-bg-info {
    font-size: larger;
    margin: 15px;
}

@media only screen and (max-width:640px) {
    .card {
        width: 130px;
        margin-top: 25px;
        margin: 5px;
        background-color: $show-card-background;
    }
    img {
        width: 130px;
        height: 100px;
    }
    .card-body {
        width: 170px;
    }
    .card-body p {
        font-size: xx-small;
        font-weight: 100;
        margin: 0px;
        text-align: left;
    }
    .movie-row {
        width: 100%;
        margin: 0px;
    }
    button {
        margin-top: 15px;
        height: 25px;
        font-size: xx-small;
        font-weight: 100;
    }
}