@import "../../styles/variables.scss";
.navbar-brand {
    display: flex;
}

.navbar-brand p {
    margin: 5px;
    font-family: 'Jura', sans-serif;
    color: $brand-text;
}

button {
    font-family: 'Work Sans', sans-serif;
    margin: 7px;
}

img {
    width: 35px;
    height: 35px;
}