.container-fluid {
    background-color: #F8CB46;
    height: 640px;
}

.text {
    margin: auto;
    display: grid;
    color: white;
    font-family: "Andika", sans-serif;
}

@media only screen and (max-width:640px) {
    .container-fluid {
        height: 550px;
    }
}