$main-theme: #F8CB46;
$brand-text: white;
$home-page-text: white;
$movie-row: #EBE1DF;
$play-row: #FDF5EA;
$show_card-text: white;
$show-card-background: #34403A;
$head-card-background: #5a62dc;
$head-row-background: black;
$head-row: white;
$booking-list-card: #A0A6BE;
$booking-list-details: white;
$booking-card-title: #432371;
$movie_theatre_background: #0A1128;
$theatre_show_title: cornflowerblue;
$theatre_show_info: black;
$available_seats: grey;
$selected_seats: #009FB7;
$screen: white;
$index: #56494C;
$index-text: white;
$movie_thetre_sidebar: #E2E8EB;
$confirm-booking-heading-border: black;
$confirm-booking-heading:#3f898b;
$confirm-booking-input-border:#343361;
$responsive-confirm-booking-card: #E7E5E5;
$validator: green;