<div class="container">
    <div class="card">
        <h1>Confirm Booking</h1>
        <div class="card-body">
            <div class="card align-items-center d-flex justify-content-center" style="margin: 25px; border-radius:15px;">

                <img src="{{bookedMovie.movie_poster}}" style="height: 250px ; width:250px; margin: 15px;">
            </div>
            <div class="container">
                <form [formGroup]="form" (ngSubmit)="submitForm()">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">

                                <input type="email" class="form-control name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your name:" formControlName="name">

                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control email" placeholder="username" aria-label="Username" formControlName="email">

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="mb-3">

                                <input class="form-control phone-no" id="inputPhoneNumber" placeholder="your phone:" formControlName="phone">

                            </div>

                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <input class="form-control movie-name" id="inputMovie" placeholder={{bookedMovie.movie_name}} formControlName="show" readonly>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <input class="form-control datetime" id="inputDateTime" placeholder="21 August | 17.30" formControlName="show" readonly>
                            </div>

                        </div>

                    </div>
                    <button class="btn btn-info">Confirm Booking</button>
                </form>
            </div>
        </div>
    </div>