<div class="container">
    <div class="card">
        <h1>Confirm Booking</h1>
        <div class="card-body">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">

                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your name:">

                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="username" aria-label="Username">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" placeholder="domain" aria-label="Server">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="mb-3">

                                <input class="form-control" id="inputPhoneNumber" placeholder="your phone:">

                            </div>

                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <select class="form-select" aria-label="Disabled select example" disabled>
                                    <option selected>Movie </option>
                            </select>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <select class="form-select" aria-label="Disabled select example" disabled>
                                    <option selected>Date & Time</option>
                            </select>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <select class="form-select" aria-label="Disabled select example" disabled>
                                    <option selected>Seat Nos.</option>
                            </select>
                            </div>

                        </div>
                    </div>
                    <button class="btn btn-info">Confirm Booking</button>
                </form>
            </div>
        </div>
    </div>