<div class="container-fluid">
    <div class="card">
        <div class="card-body" style="background-color: #5a62dc">
            <div class="row" style="border: 2px solid black; color: white; border: none">
                <div class="col-2">Booking ID</div>
                <div class="col-2">Tickets</div>
                <div class="col-4">Show Details</div>
                <div class="col-4">Customer Details</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row" style="border: none" *ngFor="let bl of bookingsList">
                <div class="col-2">
                    <h4>
                        <span class="badge text-bg-primary">{{ bl.id }}</span>
                    </h4>
                </div>
                <div class="col-2">
                    <h2><span class="badge bg-secondary">2</span></h2>
                </div>
                <div class="col-4">
                    <div class="card mb-3" style="max-width: 540px; background-color: #a0a6be; color: white">
                        <div class="row g-0">

                            <div class="col">
                                <div class="card-body">
                                    <h5 class="card-title">Show:{{bl.show}}</h5>
                                    <p class="card-text">
                                        Date & Time {{bl.datetime}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-3" style="background-color: #a0a6be; color: white">
                        <div class="card-body">
                            <h5 class="card-title">User Details</h5>
                            <p class="card-text">
                                {{ bl.name }}<br />{{ bl.email }}<br />{{ bl.booked_at }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>