<div class="container-fluid">
    <div class="card">
        <div class="card-body head-card-body">
            <div class="row head-row">
                <div class="col-2">Booking ID</div>
                <div class="col-2">Tickets</div>
                <div class="col-4">Customer Details</div>
                <div class="col-4">Show Details</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row show-list" *ngFor="let booking of reversedBookingList">
                <div class="col-2">
                    <h4>
                        <span class="badge text-bg-primary">{{ booking.id }}</span>
                    </h4>
                </div>

                <div class="col-2">
                    <h4>
                        <span class="badge text-bg-primary">{{booking.ticket_no}}</span>
                    </h4>
                </div>


                <div class="col-4">
                    <div class="card mb-3 details">
                        <div class="card-body">
                            <h5 class="card-title"><span>User Details</span></h5>
                            <p class="card-text">
                                {{ booking.name }}<br />{{ booking.email }}<br />Phone: {{booking.phone}} <br>Booked At: {{ booking.booked_at }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-3 details">
                        <div class="card-body">
                            <h5 class="card-title"><span>Show Details</span></h5>
                            <p class="card-text">
                                Show: {{ booking.show }}<br />Date: 21 Aug 2022 | 17.30<br /> Seats: {{booking.seat_nos}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>