    @import "../../../../styles/variables.scss";
    .card-body h1 {
        width: 235px;
        border-bottom: 2px soild black;
        color: $booking-list-card;
    }
    
    .container-fluid span {
        color: $booking-card-title;
        font-weight: 900;
    }