<div class="container">
    <div class="card">
        <h1>Confirm Booking</h1>
        <div class="card-body">
            <div class="card card-img align-items-center d-flex justify-content-center">

                <img class="show-img" src="{{bookedPlay.play_poster}}">
            </div>
            <div class="container">
                <form [formGroup]="myForm" (ngSubmit)="submitForm(myForm)">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">

                                <input type="email" class="form-control name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your name:" formControlName="name">

                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control email" placeholder="username" aria-label="Username" formControlName="email">

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="mb-3">

                                <input class="form-control phone-no" id="inputPhoneNumber" placeholder="your phone:" formControlName="phone">

                            </div>

                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <input class="form-control play-name" id="inputShow" placeholder="{{bookedPlay.play_name}}" formControlName="show" readonly>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <input class="form-control datetime" id="inputShow" placeholder="21 Aug 2022 | 17.30" formControlName="datetime" readonly>

                            </div>

                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                <input class="form-control seats" id="inputSeats" placeholder="{{booked_seats}}" formControlName="seat_nos" readonly>
                            </div>

                        </div>

                    </div>
                    <button class="btn btn-info">Confirm Booking</button>
                </form>
            </div>
        </div>
    </div>