.card {
    font-family: 'Andika', sans-serif;
}

h1 {
    border-bottom: 2px solid black;
    width: fit-content;
    margin: 25px;
    color: #3f898b
}

input {
    border-radius: 15px;
    border: 2px solid #343361;
}