    @import "../../../../styles/variables.scss";
    h1 {
        border-bottom: 2px solid $confirm-booking-heading;
        width: fit-content;
        margin: 25px;
        color: $confirm-booking-heading;
    }
    
    input {
        border-radius: 15px;
        border: 2px solid $confirm-booking-input-border;
    }
    
    button {
        margin-left: 20px;
        border-radius: 15px;
    }
    
    .show-img {
        height: 250px;
        width: 250px;
        border-radius: 25px;
    }
    
    .card-img {
        margin-bottom: 35px;
        border: none;
    }
    
    .validator {
        font: x-small;
        color: $validator;
    }
    
    @media only screen and (max-width:640px) {
        input {
            font-size: x-small;
        }
        button {
            margin-left: 15px;
            border-radius: 15px;
        }
        .card {
            background-color: $responsive-confirm-booking-card;
        }
    }