<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="movie-datetime-info">
            <p>
                <span>Movie: </span>{{selectedMovie.movie_name}}
                <br><span>Date and Time:</span> {{selectedMovie.movie_date}} | {{selectedMovie.movie_time}}
            </p>

        </div>
        <div class="movie-theatre-info">
            <p>
                <span>Theatre: </span>{{selectedMovie.movie_theatre}}
                <br><span>Screen No: </span>{{selectedMovie.screen_no}}
            </p>
        </div>


    </div>
</nav>
<div class="container-fluid">


    <div class="row theatre">
        <div class="col-10">

            <div class="container" id="container">

                <div class="screen">
                </div>


                <div class="row seat-row">
                    <div class="col-1" id="1" accesskey="1"></div>
                    <div class="col-1" id="2" accesskey="2"></div>
                    <div class="col-1" id="3"></div>
                    <div class="col-1" id="4"></div>
                    <div class="col-1" id="5"></div>
                    <div class="col-1" id="6"></div>
                    <div class="col-1" id="7"></div>
                    <div class="col-1" id="8"></div>
                    <div class="col-1" id="9"></div>
                    <div class="col-1" id="10"></div>

                    ]
                </div>
                <div class="row seat-row">
                    <div class="col-1" id="11"></div>
                    <div class="col-1" id="12"></div>
                    <div class="col-1" id="13"></div>
                    <div class="col-1" id="14"></div>
                    <div class="col-1" id="15"></div>
                    <div class="col-1" id="16"></div>
                    <div class="col-1" id="17"></div>
                    <div class="col-1" id="18"></div>
                    <div class="col-1" id="19"></div>
                    <div class="col-1" id="20"></div>


                </div>
                <div class="row seat-row">
                    <div class="col-1" id="21"></div>
                    <div class="col-1" id="22"></div>
                    <div class="col-1" id="23"></div>
                    <div class="col-1" id="24"></div>
                    <div class="col-1" id="25"></div>
                    <div class="col-1" id="26"></div>
                    <div class="col-1" id="27"></div>
                    <div class="col-1" id="28"></div>
                    <div class="col-1" id="29"></div>
                    <div class="col-1" id="30"></div>


                </div>
                <div class="row seat-row">
                    <div class="col-1" id="31"></div>
                    <div class="col-1" id="32"></div>
                    <div class="col-1" id="33"></div>
                    <div class="col-1" id="34"></div>
                    <div class="col-1" id="35"></div>
                    <div class="col-1" id="36"></div>
                    <div class="col-1" id="37"></div>
                    <div class="col-1" id="38"></div>
                    <div class="col-1" id="39"></div>
                    <div class="col-1" id="40"></div>


                </div>
            </div>






        </div>

        <div class="col-2">
            <div class="row">
                <div class="card index">
                    <div class="card-body">

                        <div class="empty-seats">
                            <div class="col-1 sidebar"></div>
                            <p>Empty Seats</p>
                        </div>




                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="container-fluid confirm-button" style="margin-top:25px;">
    <button class="btn btn-success" (click)="goToPayment(selectedMovie)">Pay Rs.200 x {{seat_quantity}} = Rs. {{amount}}</button>
</div>