@import "../../../../../src/styles/variables.scss";
.col-1 {
    height: 20px;
    width: 20px;
    margin: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $available_seats;
}

.selected {
    background-color: $selected_seats;
    height: 20px;
    width: 20px;
    // margin: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
}

.col-1:not(.booked):hover {
    cursor: pointer;
    transform: scale(1.2)
}

.screen {
    background-color: $screen;
    height: 70px;
    margin-top: 50px;
    transform: rotateX(-45deg);
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.75);
}

.seat-row {
    margin-left: 200px;
}

.container {
    perspective: 1000px;
}

.movie-info span {
    font-weight: 700;
    color: $theatre_show_info;
}

.movie-info p {
    font-weight: 500;
    color: $theatre_show_title;
}

.ticket-counter {
    display: flex;
    width: 250px;
}

.ticket-counter input {
    width: 40px;
    margin: 5px;
}

.col-10 {
    background-color: $movie_theatre_background;
    margin-top: 20px;
}

.col-2 {
    background-color: $movie_thetre_sidebar;
    margin-top: 20px;
}

.index {
    background-color: $index;
    width: 200px;
    margin-left: 25px;
    margin-top: 85px;
    color: $index-text;
}

@media only screen and (max-width:640px) {
    .col-1 {
        width: 20px;
        height: 20px;
        margin: 7px;
    }
    .seat-row {
        margin-left: 20px;
    }
    .index {
        width: 100px;
        height: 150px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .empty-seats {
        font-size: xx-small;
    }
    .selected-seats {
        font-size: xx-small;
    }
    button {
        margin-left: 25px;
    }
}