<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="container-fluid">
            <p>
                Movie:
                <br> Date and Time:
            </p>
        </div>

        <div class="ticket-counter" style="display: flex; width: 250px">
            <label style="margin: 5px">No. of Tickets: </label>
            <input style="width: 40px; margin: 5px" type="number" max="5" min="1" />
        </div>
    </div>
</nav>
<div class="container-fluid">


    <div class="row">
        <div class="col-10" style="background-color: #0A1128; margin-top: 20px ;">


            <div class="container" style=" perspective: 1500px; margin-bottom: 35px;">
                <div class="screen">
                </div>
            </div>



            <div class="container" style="margin-left: 250px;">

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>

                    ]
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>


                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>


                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>
                    <div class="col-1"></div>


                </div>
            </div>






        </div>

        <div class="col-2" style="background-color: #E2E8EB; margin-top:20px">
            <div class="row">
                <div class="card" style=" background-color: #56494C; width: 200px; margin-left: 25px; margin-top: 85px;">
                    <div class="card-body">

                        <div class="empty-seats">
                            <div class="col-1" style="margin:5px;"></div>
                            <p>Empty Seats</p>
                        </div>
                        <div>

                            <div class="col-1 booked"></div>

                            <p>Booked Seats</p>
                        </div>
                        <div>
                            <div class="col-1 selected" style="margin: 5px;"></div>
                            Selected Seats
                        </div>



                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">

    </div>
</div>